{% extends 'show/layout.html' %}
{% block content %}
{% load static %}
    <div class="section1">
        <div class="text-block">
            <h1 class="title light-text">Title</h1>
            <p class="text light-text">Lorem ipsum dolor sit amet consectetur</p>
            <a class="contact-button" href="#contact-form">Contattaci!</a>
        </div>
    </div>
    <div class="section2">
        <div class="image-block"></div>
        <div class="text-block">
            <h2 class="title">Title</h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil dolorem quis optio illum corrupti, maxime velit! Quasi saepe vel illum cum velit soluta tempore praesentium corporis aut laboriosam? Quasi, commodi!</p>
        </div>
    </div>
    <div class="section3">
        <h2 class="title">Partners</h2>
        <ul class="partners">
            <li class="partners-item"><img src="{% static 'show/media/partner1.png' %}" alt=""></li>
            <li class="partners-item"><img src="{% static 'show/media/partner2.svg' %}" alt=""></li>
            <li class="partners-item"><img src="{% static 'show/media/partner3.png' %}" alt=""></li>
            <li class="partners-item"><img src="{% static 'show/media/partner4.png' %}" alt=""></li>
            <li class="partners-item"><img src="{% static 'show/media/partner5.webp' %}" alt=""></li>
            <li class="partners-item"><img src="{% static 'show/media/partner6.png' %}" alt=""></li>
            <li class="partners-item"><img src="{% static 'show/media/partner7.svg' %}" alt=""></li>
            <li class="partners-item"><img src="{% static 'show/media/partner8.svg' %}" alt=""></li>
            <li class="partners-item"><img src="{% static 'show/media/partner9.png' %}" alt=""></li>
            <li class="partners-item"><img src="{% static 'show/media/partner10.png' %}" alt=""></li>
            <li class="partners-item"><img src="{% static 'show/media/partner11.png' %}" alt=""></li>
            <li class="partners-item"><img src="{% static 'show/media/partner12.png' %}" alt=""></li>
            <li class="partners-item"><img src="{% static 'show/media/partner13.png' %}" alt=""></li>
            <li class="partners-item"><img src="{% static 'show/media/partner14.png' %}" alt=""></li>
            <li class="partners-item"><img src="{% static 'show/media/partner15.webp' %}" alt=""></li>
            <li class="partners-item"><img src="{% static 'show/media/partner16.png' %}" alt=""></li>
            <li class="partners-item"><img src="{% static 'show/media/partner17.png' %}" alt=""></li>
            <li class="partners-item"><img src="{% static 'show/media/partner18.jpg' %}" alt=""></li>
            <li class="partners-item"><img src="{% static 'show/media/partner19.png' %}" alt=""></li>
        </ul>
    </div>
    <div class="section4">
        <div class="slider-wrapper">
            <div class="slider">
                <img id="slide-1" src="{% static 'show/media/image0.jpeg' %}" alt="">
                <img id="slide-2"src="{% static 'show/media/image1.jpeg' %}" alt="">
                <img id="slide-3"src="{% static 'show/media/image2.jpeg' %}" alt="">
                <img id="slide-4"src="{% static 'show/media/image3.jpeg' %}" alt="">
                <img id="slide-5"src="{% static 'show/media/image4.jpeg' %}" alt="">
                <img id="slide-6"src="{% static 'show/media/image5.jpeg' %}" alt="">
                <img id="slide-7"src="{% static 'show/media/image6.jpeg' %}" alt="">
            </div>
            <div class="slider-nav">
                <a href="#slide-1" class="active"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
                <a href="#slide-4"></a>
                <a href="#slide-5"></a>
                <a href="#slide-6"></a>
                <a href="#slide-7"></a>
            </div>
        </div>
    </div>
{% endblock %}
